<div class="l-app" open="false" id="app-JmzM5wQeisam2SA2KkAalGyM" restore="true"onclick="dragElement(this)">
    <header class="l-app-nav">
        <p>Test</p>
        <div class="icons">
            <i class="far fa-window-maximize" onclick="maximizeApp('app-JmzM5wQeisam2SA2KkAalGyM', this)"></i>
            <i class="fas fa-times" onclick="closeApp('app-JmzM5wQeisam2SA2KkAalGyM')"></i>
        </div>
    </header>
    <div class="l-app-content">
        <iframe src="" frameborder="0" class="l-app-iframe"></iframe>
    </div>
</div>