<div class="l-app" open="false" id="app-OKwkUNVUE2fIm0dwJJN41xhw" restore="true"onclick="dragElement(this)">
    <header class="l-app-nav" id="app-OKwkUNVUE2fIm0dwJJN41xhwheader">
        <p>Configuration</p>
        <div class="icons">
            <i class="far fa-window-maximize" onclick="maximizeApp('OKwkUNVUE2fIm0dwJJN41xhw', this)"></i>
            <i class="fas fa-times" onclick="closeApp('OKwkUNVUE2fIm0dwJJN41xhw')"></i>
        </div>
    </header>
    <div class="l-app-content">
        <div class="configs">
            <div class="cg off">
                <div class="cg content">
                    <a href="/auth/logout" class="l-btn danger border">Turn off</a>
                </div>
            </div>
            <div class="cg background">
                <h3 class="cg-title">Background</h3>
                <div class="cg content">

                    <div class="cg-bg" onclick="selectFile()">
                        <img src="<%=os.background%>" >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    async function selectFile() {
        await Swal.fire({
            title: 'Change background',
            confirmButtonText: 'Change',
            html: `
            <form action="/auth/background" method="POST" enctype="multipart/form-data" id="background-form">
                            <input type="file" accept="images/*"name="background" id="background-input" >
                        </form>
            `
        }).then(result => {
            if(result.isConfirmed) {
                var backgroundForm = document.getElementById('background-form');
                var backgroundInput = document.getElementById('background-input');
                if(backgroundInput.files.length > 0) {
                    backgroundForm.submit();
                }
            }  
        })
}

</script>