<div class="l-app" open="false" id="app-t61y9kztDqZsZq3lH2UYJ6wK" restore="true"onclick="dragElement(this)" >
    <header class="l-app-nav" id="app-t61y9kztDqZsZq3lH2UYJ6wKheader">
        <p>File system</p>
        <div class="icons">
            <i class="far fa-window-maximize" onclick="maximizeApp('t61y9kztDqZsZq3lH2UYJ6wK', this)"></i>
            <i class="fas fa-times" onclick="closeApp('t61y9kztDqZsZq3lH2UYJ6wK')"></i>
        </div>
    </header>
    <div class="l-app-content">
        <div class="cloud-nav">
            <div class="cloud-nav-item">
                <p>Upload File</p>
            </div>
            <div class="cloud-nav-item" disabled>
                <p>Edit selected file</p>
            </div>
            <div class="cloud-nav-item" disabled>
                <p>Delete selected file</p>
            </div>
        </div>
        <div class="cloud-content">
            <div class="cloud-routes col">
                <div class="cloud-route box-lg-12"sub=1 id="user"> 
                    <p>test</p>
                </div>
                <div class="cloud-route box-lg-12" sub=2 id="test">
                    <p>test</p>
                </div>
            </div>
            <div class="cloud-files row">
                <div class="cloud-file col-3" type="txt">
                    <div class="file-icon">
                        <i class="fas fa-file-alt"></i>
                    </div>
                    <p class="file-name">Texto</p>
                </div>
                <div class="cloud-file col-3" type="img">
                    <div class="file-icon">
                        <i class="fas fa-file-image"></i>
                    </div>
                    <p class="file-name">Image</p>
                </div>
                <div class="cloud-file col-3" type="folder">
                    <div class="file-icon">
                        <i class="fas fa-folder"></i>
                    </div>
                    <p class="file-name">Folder</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function loadSubMenus() {
        var getRoutes = document.querySelectorAll('.cloud-route')
        console.log(getRoutes)
        for(var route of getRoutes) {
            var routeDom = document.getElementById(route.id)
            var margin = `${route.attributes.sub.value * 6}%`
            routeDom.style.marginLeft  = margin
        }
    }
    loadSubMenus()
</script>