<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página en mantenimiento</title>
    <%- include('others/head.ejs') %>
    <link rel="stylesheet" href="/css/error.css">
</head>
<body>
    <div class="error">
        <h1 class="emoji">:(</h1>
        <h2 class="text">lol OS se encuentra en mantenimiento. Estamos trabjando en resolver el problema para que lol OS este funcional lo antes posible.</h2>
        <div class="qr-code">
            <img src="/assets/qr-error.png" alt="mrloldev qr" class="qr-img">
            <p>Para más informacion contacta vía <a href="mailto:mrlol.yt.oficial@gmail.com">mail</a></p>
        </div>
    </div>    

</body>
</html>