@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  background: #2062af;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #78ddf8, #3b9bd7);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #78ddf8, #3b9bd7);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  font-family: "Roboto", sans-serif;
}

html, body {
  overflow-x: hidden;
}

/* App window */
.l-app {
  position: absolute;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
}
.l-app[open=false] {
  visibility: hidden;
  opacity: 0;
  z-index: -1;
}
.l-app[restore=true] {
  width: 50vw;
  height: 50vh;
}
.l-app[restore=false] {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  height: 90vh;
}
.l-app .l-app-content {
  width: 100%;
  color: #000000;
  height: 100%;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background: #fff;
}
.l-app .l-app-content .l-app-iframe {
  width: 100%;
  height: 100%;
}
.l-app .l-app-nav {
  width: 100%;
  background: #242424;
  font-size: 1.25rem;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.l-app .l-app-nav p {
  margin: 0;
  margin-left: 0.25vw;
}
.l-app .l-app-nav .icons {
  display: flex;
  align-items: center;
}
.l-app .l-app-nav .icons i {
  cursor: pointer;
  transition: all 0.3s;
  color: #F2F2F2;
  margin-right: 0.5vw;
}
.l-app .l-app-nav .icons i:hover {
  color: #fff;
}

/* Card */
.card {
  border-radius: 0.5rem;
  background: #2b2b2b;
  overflow: hidden;
  padding: 0.5rem 0.5rem;
  align-items: left;
  color: #fff;
}
.card .card-header {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  font-weight: bold;
}
.card .card-content {
  position: relative;
  top: 3vh;
}

.l-input-text {
  outline: none;
  border-radius: 0.25rem;
  color: #fff;
  height: 4vh;
  font-size: 1.25rem;
  border: 1px solid #121212;
  background: #242424;
}
.l-input-text:focus {
  border: 1px solid #3b9bd7;
}

.l-label {
  position: relative;
  font-size: 1.25rem;
  color: #e0dfdd;
}

.l-input-group {
  position: relative;
  height: fit-content;
  margin-top: 0.5vh;
  margin-bottom: 1vh;
}
.l-input-group .l-input-text {
  position: relative;
  top: -3vh;
}

.l-btn {
  width: fit-content;
  height: fit-content;
  color: #F2F2F2;
  transition: all 0.2s;
  cursor: pointer;
  outline: none;
  font-size: 1.25rem;
  border-radius: 0.25rem;
  border: 2px solid #F2F2F2;
}
.l-btn:hover {
  color: #fff;
  border: 2px solid #fff;
}
.l-btn:active {
  transform: scale(1.1);
}
.l-btn.primary {
  background: linear-gradient(to right, #78ddf8, #3b9bd7);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Apps Desktop */
.os-apps {
  height: 100%;
  position: absolute;
  top: 2vw;
  left: 0vw;
  display: flex;
  align-items: flex;
}
.os-apps .os-apps-row {
  display: flex;
  flex-direction: column;
}
.os-apps .os-apps-row .os-app {
  width: 14vw;
  height: 14vw;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
}
.os-apps .os-apps-row .os-app[selected=true]:before {
  content: "";
  position: absolute;
  top: -1vw;
  border: 1px solid #3b9bd7;
  width: 10vw;
  opacity: 0.3;
  height: 10vw;
  background: #78ddf8;
}
.os-apps .os-apps-row .os-app img {
  border-radius: 0.5rem;
  width: 6vw;
  box-shadow: 1px 1px 15px 5px rgba(0, 0, 0, 0.1);
  height: 6vw;
}
.os-apps .os-apps-row .os-app p {
  margin-top: 0.1vh;
}

/*# sourceMappingURL=style.css.map */
