<nav class="mobile-nav-top">
    <div class="nav-left">
        <div class="nav-time" id="nav-time">

        </div>
    </div>
    <div class="nav-right">
        <ul class="icons">
            <li class="icon">
                <i class="fab fa-bluetooth-b"></i>
            </li>
            <li class="icon">
                <i class="fas fa-wifi"></i>
            </li>
            <li class="icon">
                <i class="fas fa-battery-three-quarters"></i>
            </li>
        </ul>
    </div>
</nav>
<script>
    n =  new Date();
    h = n.getHours();
    mm = n.getMinutes();
    s = n.getSeconds();
    // add 0 to s if is only one digit
    if (s < 10) {
        s = `0${s}`;
    }
    // add 0 to mm if is only one digit
    if (mm < 10) {
       mm = `0${mm}`;
    }
    document.querySelector('div#nav-time').innerHTML = `${h}:${mm}:${s}`
    setInterval(() => {
        n =  new Date();
        h = n.getHours();
        mm = n.getMinutes();
        s = n.getSeconds();
        // add 0 to s if is only one digit
        if (s < 10) {
            s = `0${s}`;
        }
        // add 0 to mm if is only one digit
        if (mm < 10) {
            mm = `0${mm}`;
        }
        document.querySelector('div#nav-time').innerHTML = `${h}:${mm}:${s}`
    },1000)

</script>

<nav class="mobile-nav-bottom">
    <div class="icon">
        <i class="fas fa-chevron-left"></i>
    </div>
    <div class="icon">
        <i class="far fa-circle"></i>
    </div>
    <div class="icon">
        <i class="far fa-square"></i>
    </div>
</nav>