<nav class="lol-nav"  open="false">
        <img class="gem" src="/assets/gem.svg" onclick="toogleNav()">
        <div class="nav-apps">
            
        </div>
</nav>
<script>
    function toogleNav() {
        var nav = document.querySelector('nav.lol-nav');
        if(nav.attributes.open.value == 'true') {
            nav.setAttribute('open', 'false');
        } else {
            nav.setAttribute('open', 'true');
        }
    }
</script>