<nav class="lol-nav"  open="false">
        <img class="gem" src="/assets/gem.svg" onclick="toogleNav()">
        <div class="nav-apps">
            <% if (apps.length <=5) { %> 
                <% for( var i = 0; i < apps.length; i++ ) {%>
                    <div class="nav-app" open="false" id="nav-<%= apps[i]._id%>" onclick="openApp('<%= apps[i]._id%>')">
                        <img src="<%=apps[i].icon%>" title="<%=apps[i].name%>" class="nav-app-icon">
                    </div>
                <% }%>        
            <%} %>
        </div>
        <div class="nav-date">
            <div class="time" id="nav-time">

            </div>
            <div class="date" id="nav-date">

            </div>
        </div>
</nav>
<script>
    function toogleNav() {
        var nav = document.querySelector('nav.lol-nav');
        if(nav.attributes.open.value == 'true') {
            nav.setAttribute('open', 'false');
        } else {
            nav.setAttribute('open', 'true');
        }
    }
    n =  new Date();
    y = n.getFullYear();
    m = n.getMonth() + 1;
    d = n.getDate();
    h = n.getHours();
    mm = n.getMinutes();
    s = n.getSeconds();
    document.querySelector('div#nav-date').innerHTML = m + "/" + d + "/" + y;
    document.querySelector('div#nav-time').innerHTML = `${h}:${mm}:${s}`
    setInterval(() => {
        n =  new Date();
        y = n.getFullYear();
        m = n.getMonth() + 1;
        d = n.getDate();
        h = n.getHours();
        mm = n.getMinutes();
        s = n.getSeconds();
        document.querySelector('div#nav-time').innerHTML = `${h}:${mm}:${s}`
    },1000)

</script>