<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel</title>
    <%- include('../others/head.ejs') %>
    <link rel="stylesheet" href="/css/admin/apps.css">
</head>
<body>
    <div class="card">
        <header class="card-header">
            <h3 class="text">Añadir app</h3>
        </header>
        <div class="card-content">
            <form action="/admin/app/add" method="POST" enctype="multipart/form-data">
                <div class="l-input-group">
                    <p class="l-label">Nombre</p>
                    <input type="text" class="l-input-text">    
                </div>
                <div class="l-input-group">
                    <p class="l-label two">Icono:</p>
                    <input type="file" accept="image/*" class="l-input-file">
                </div>
                <button class="l-btn primary" type="submit">Añadir</button>
            </div>
        </form> 
    </div>
</body>
</html>