@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
$background-color: #3b9bd7;
$black: #121212;
$grey: #e0dfdd;
$light-grey: #F2F2F2;
$white: #fff;
$dark-color: #2062af;
$black-grey: #242424;
$dark-grey: #2b2b2b;
$color: #3b9bd7;
$light-color:#78ddf8;

body {
    background: #2062af;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, $light-color, $color);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,  $light-color, $color); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color: $white;    
    font-family: 'Roboto', sans-serif;
}

html, body {
    overflow-x: hidden;
}

/* Card */
.card {
    border-radius: .5rem;
    background: $dark-grey;
    overflow: hidden;
    padding: .5rem .5rem;
    align-items: left;
    color: #fff;
    .card-header {
        position: absolute;
        top: 0;
        display: flex;
        align-items: center;
        font-weight: bold;
    }
    .card-content {
        position: relative;
        top: 3vh;
    }
}
.l-input-text {
    outline: none;
    border-radius: .25rem;
    color: $white;
    height:4vh;
    font-size: 1.25rem;
    border: 1px solid $black;
    background: $black-grey;
    &:focus {
        border: 1px solid $color;
    }
}

.l-label {
    position: relative;
    font-size: 1.25rem;
    color: $grey;
}
.l-input-group {
    position: relative;
    height: fit-content;
    margin-top: .5vh;
    margin-bottom: 1vh;
    .l-input-text {
        position: relative;
        top: -3vh;
    }
}
.l-btn {
    width: fit-content;
    height: fit-content;
    color: $light-grey;
    transition: all 0.2s;
    cursor: pointer;
    outline: none;
    font-size: 1.25rem;
    border-radius:0.25rem;
    border: 2px solid $light-grey;
    &:hover {
        color: $white;
    border: 2px solid $white;
    }
    &:active {
        transform: scale(1.1);
    }
    &.primary {
        background: linear-gradient(to right,  $light-color, $color); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
  
}
/* Apps Desktop */
.os-apps {
    height: 100%;
    position: absolute;
    top: 2vw;
    left: 0vw;
    display: flex;
    align-items: flex;
    .os-apps-row {
        display: flex;
        flex-direction: column;
        .os-app {
            width: 14vw;
            height: fit-content;
            display: flex;
            cursor: pointer;
            flex-direction: column;
            align-items: center;
            user-select: none;
            margin-bottom: 2vh;
            &[selected="true"] {
                &:before {
                    content: "";
                    margin-top:-1vw;
                    position: absolute;
                    border: 1px solid $color;
                    width: 10vw;
                    opacity: 0.3;
                    height: 10vw;
                    background: $light-color;
                }
            }
            img {
                border-radius: 0.5rem;
                width: 6vw;
                box-shadow: 1px 1px 15px 5px rgba(0,0,0,0.1);
                height: 6vw;
            }
            p {
                margin-top: .1vh;
            }
        }
    }
}
/* App window */
.l-app {
    position:  absolute;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.1);
    &[open="false"] {
        visibility: hidden;
        opacity: 0;
        z-index: -1;
    }
    &[restore="true"] {
        width: 50vw;
        height: 50vh;
    }
    &[restore="false"] {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 90vw;
        height: 90vh;
    }
    .l-app-content {
        width: 100%;
        color: #000000;
        height: 100%;
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        background: $white;
        .l-app-iframe {
            width: 100%;
            height: 100%;
        }
    }
    .l-app-nav {
        width: 100%;
        background: $black-grey;
        font-size: 1.25rem;
        border-radius: .25rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        p {
            margin: 0;
            margin-left: .25vw;
        }
        .icons {
            display: flex;
            align-items: center;
            i {
                cursor: pointer;
                transition: all 0.3s;
                color: $light-grey;
            margin-right: .5vw;
                &:hover {
                    color: $white;
                }
            }
        }
    }
}

/* Buttons */
.l-btn {
    border-radius: .5rem;
    padding: .5rem;
    color: $grey;
    &.primary {
        background: $color;
        &:hover {
            background: $light-color;
        }
    }
    &:hover {
        color: $white;
    }
}